body {
    font: 14px "Microsoft YaHei", Arial, sans-serif;
    height: 100%;
}

#chat-box {
    min-height: 600px;
    max-height: 600px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.box.box-success {
    border-radius: 0;
}

.font {
    font-family: "Microsoft YaHei", Arial, sans-serif !important;
}

.skin-blue .left-side {
    background: #fff;
}

div#canvas-frame {
    border: none;
    cursor: pointer;
    width: 1000px;
    height: 600px;
    background-color: #f9f9f9 !important;
}

.sub-header{
    text-align: center;
    font-size: small;
    margin-top: 10px;
}

.mid_text{
    text-align: center;
}